<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark" >
        <div class="navbar-brand ">Angel-learning</div>
        <ul class="navbar-nav">
            <li><a href="/dashboard" class="nav-link">Dashboard</a></li>
            <li><a href="/notebooks" class="nav-link">NoteBooks</a></li>
            <li><a href="/courses" class="nav-link">Courses</a></li>
        </ul>
        
        <ul class="navbar-nav navbar-collapse justify-content-end">
                <li ><a href="/logout" class="nav-link" (click)="logout()">logout</a></li>
        </ul>
     </nav>
    <!--<div class="logo">Angel-learning</div>
    <button class="button1" (click)="logout()">Courses</button>
    <button class="button2" (click)="logout()">Logout</button>-->
</header >